@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face{
        font-family: "Lora";
        src: url("/fonts/Lora.woff") fomrat("woff2");
        font-weight: 500;
        font-display: swap;
        font-size: 40px;
        line-height: 55px;
        font-style: normal;
    },
    @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Loght.woff") fomrat("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal
    },
    input, button {
        @apply focus:outline-none;
    }
}
